@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Quicksand:wght@300;400&family=Roboto:wght@100;300&family=Thasadith:wght@400;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.neutrino-progress-gradient {
	background-image: linear-gradient(
		to right,
		theme("colors.slate.200") 10%,
		theme("colors.green.600") 10%,
		theme("colors.green.600") 30%,
		theme("colors.yellow.400") 30%,
		theme("colors.yellow.400") 70%,
		theme("colors.orange.500") 70%,
		theme("colors.orange.500") 90%,
		theme("colors.red.600") 90%
	);
	background-clip: content-box, padding-box;
}

.navi-progress-gradient {
	background-image: linear-gradient(
		to right,
		theme("colors.red.600") 16.67%,
		theme("colors.red.700") 16.67%,
		theme("colors.red.700") 50%,
		theme("colors.red.800") 50%,
		theme("colors.red.800") 83.33%,
		theme("colors.red.900") 83.33%
	);
	background-clip: content-box, padding-box;
}

.neutrino-gradient {
	background-image: linear-gradient(
		to right,
		theme("colors.yellow.500") 0%,
		theme("colors.orange.500") 33%,
		theme("colors.red.700") 90%
	);
	background-clip: text;
	color: transparent;
}
